body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.P404{
  color: green;
  height: 200px;
  width: 100%;
  font-size: xx-large;
  text-align: center;
  position:absolute;
  top: 200px;
}


@media screen and (min-width:768px) and (max-width:768px){
  .P404{
    color: green;
    height: 200px;
    width: 100%;
    font-size: xx-large;
    text-align: center;
    position:absolute;
    top: 100px;

  }
  body{
    background-color:bisque;
  }
}

@media screen and (min-width:1024px){
  .P404{
    color: green;
    height: 200px;
    width: 100%;
    font-size: xx-large;
    text-align: center;
    position:absolute;
    top: 100px;

  }
  body{
    background-color:bisque;
  }
}

@media screen and (min-width:375px) and (max-width:376px){
  .P404{
    color: red;
    height: 200px;
    width: 100%;
    font-size: xx-large;
    text-align: center;
    position:absolute;
    top: 10px;
  }
  body{
    background-color:blanchedalmond;
  }
}

.J2{
  
  font-size: xx-large;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;
  display: inline-block;
  position: relative;
  left: 600px;
  top: 100px;
}

.J3{
  font-size: xx-large;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:orangered;
  display: inline-block;
  position: relative;
  left: 320px;
  top: 160px;
}

.J4{
  font-size: xx-large;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: orange;
  display: inline-block;
  position: relative;
  left: -50px;
  top: 210px;
}

.J1{
  background-color:lightgrey;
}

.J5{
  position: relative;
  top: 300px;
  background-color: lightgrey;
}

#i1{
  position: relative;
  left: 1430px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: orange;
}

#i2{
  position: relative;
  left: -15px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: orange;
}

@media screen and (max-width:768px) {
  
.J2{
  
  font-size: xx-large;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;
  display: inline-block;
  position: relative;
  left: 260px;
  top: 100px;
}

.J3{
  font-size: xx-large;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:orangered;
  display: inline-block;
  position: relative;
  left: -20px;
  top: 160px;
}

.J4{
  font-size: xx-large;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: orange;
  display: inline-block;
  position: relative;
  left: 120px;
  top: 190px;
}

.J1{
  background-color:lightgrey;
}

.J5{
  position: relative;
  top: 300px;
  background-color: lightgrey;
}

#i1{
  position: relative;
  left: 690px;
  top: -65px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: orange;
}

#i2{
  position: relative;
  left: -15px;
  top: -65px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: orange;

}
}


@media screen and (max-width:426px) {
  
  .J2{
    
    font-size: xx-large;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    display: inline-block;
    position: relative;
    left: 60px;
    top: 100px;
    color: rebeccapurple;

  }
  
  .J3{
    font-size: xx-large;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:orangered;
    display: inline-block;
    position: relative;
    left: 40px;
    top: 160px;

  }
  
  .J4{
    font-size: large;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: orange;
    display: inline-block;
    position: relative;
    left: 50px;
    top: 190px;
    

  }
  
  .J1{
    background-color:lightgrey;

  }
  
  .J5{
    position: relative;
    top: 300px;
    background-color: lightgrey;

  }
  
  #i1{
    position: relative;
    left: 350px;
    top: -35px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: orange;

  }
  
  #i2{
    position: relative;
    left: -15px;
    top: -35px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: orange;
  }
  #O3{
    display: none;
  }

  #O2{
    display: none;
  }
  }

  
  .k1{
    width: 200px;
    height: 200px;
  }

  #d1{
    background-color: wheat;
  }

  #jk{
    position: relative;
    top: 252px;
    width: 100%;
    background-color: #101e3b; 
    height: 1100px;
  }
  
  .kl{
    position: relative;
    left: 630px;
    top: 100px;
  }
  .hi{
    position:relative;
    width: 200px;
    height: 100px;
    left: 140px;
    top: 200px;
  }
  
  .hi2{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    left: 140px;
    top: 350px;
    border-radius: 10px;
    padding: 5px 5px;
  
  }
  .hi3{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    border-radius: 10px;
    left: 190px;
    top: 315px;
    padding: 5px 5px;
  }
  .hi4{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    border-radius: 10px;
    left: 240px;
    top: 278px;
    padding: 5px 5px;
  }
  
  .hi2:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  }
  
  .hi3:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  }
  
  .hi4:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  }
  
  .hi5{
    display: inline-block;
    color: white;
    position: relative;
    left: 670px;
  }
  
  .hi6{
    display: inline-block;
    color:gray;
    position: relative;
    left: 570px;
    top:40px
  }
  .hi6:hover{
    color: orangered;
  }
  .hi7{
    display: inline-block;
  
    color:gray;
    position: relative;
    left: 505px;
    top: 70px;
  }
  .hi7:hover{
    color: orangered;
  }
  .hi8{
    display: inline-block;
  
    color:gray;
    position: relative;
    left: 430px;
    top: 100px;
  }
  .hi8:hover{
    color: orangered;
  }
  .hi9{
    display: inline-block;
    color:gray;
    position: relative;
    left: 330px;
    top: 130px;
  }
  .hi9:hover{
    color: orangered;
  }
  .hi10{
  color: white;
  font-size: x-large;
  position: relative;
  left: 1100px;
  top: -95px;
  }
  
  
  .hi13{
    display: inline-block;
  }
  
  .hi11{
    color: grey;
    position: relative;
    left: 1050px;
    top: -70px;
   }
  
  .hi12{
     width: 300px;
     position: relative;
     left: 1070px;
     top: -40px;
  }
  
  .hi14{
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 23px 25px;
    color: white;
    border-radius: 40px;
    position: relative;
    left: -90px;
    top: 80px;
    
  }
  
  .hi15{
   color: white;
   font-size: larger;
  }
  
  .hi16{
    color: grey;
    width: 200px;
  }
  
  .hi17:hover .hi14{
  background-color: #f35f20; 
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  
  .hi17{
    display: inline-block;
    position: relative;
    left: -150px;
    top: 300px;
  }
  .hi18{
    display: inline-block;
  
    position: relative;
    left: 50px;
    top: 300px;
  }
  
  .hi18:hover .hi19{
    display: inline-block;
   background-color: #f35f20;
   transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  .hi19{
    display: inline-block;
    color: white;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 20px 23px;
    border-radius: 40px;
    position: relative;
    left: -150px;
    top: 27px;
  
  }
  
  .hi20{
    display: inline-block;
  
    color: white;
    position: relative;
    top: -0px;
    left: -120px;
    font-size: larger;
  }
  .hi21{
    color: grey;
    position: relative;
    top: -20px;
    left: -50px;
  }
  
  .hi22{
   display: inline-block;
   
  }
  .hi22:hover .hi23{
    display: inline-block;
    background-color: #f35f20;
    transition-duration: 1s;
  transition-timing-function: ease-in-out;
   }
  .hi23{
    display: inline-block;
    color: white;
    position: relative;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 25px 25px;
    border-radius: 40px;
    top: 275px;
    left: 10px;
  }
  .hi24{
    display: inline-block;
    color: white;
    font-size: larger;
    position: relative;
    top: 250px;
    left: 30px;
  }
  .hi25{
    display: inline-block;
    color: grey;
    position: relative;
    top: 280px;
    left: -80px;
  }
  .hi26{
    display: inline-block;
  }
  .hi26:hover .hi27{
    display: inline-block;
    background-color: #f35f20;
    transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  .hi27{
    display: inline-block;
    color: white;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 20px 23px;
    border-radius: 40px;
    position: relative;
    top: 270px;
  }
  .hi28{
    display: inline-block;
    color: white;
    position: relative;
    top: 250px;
    left: 20px;
  }
  .hi29{
    display: inline-block;
    color: gray;
    position: relative;
    left: -90px;
    top: 280px;
  }
  #sww{
    color: white;
    position:relative;
    top: 400px;
    width: 1000px;
    left: 240px;
  }
  
  .gui{
    display: inline-block;
    color: grey;
    position: relative;
    left: 600px;
    top: 410px;
  }
  .fixe{
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 70px;
    height: 70px;
    background-color: #f35f20;
    padding: 20px 20px;
    z-index: 100;
    border-radius: 60px;
    color: white;
  }
  @media screen and (max-width:1024px) and (max-height:700px){
    .fq{
      background-color: orangered;
      width: 60px;
      height: 60px;
      padding: 15px 15px;
      border-radius: 30px;
      position:relative;
      left: 60px;
      top: 50px;
    }
    .wu{
      position : relative;
      left:70px;
      top: 100px;
    }
    .wl{
      color:orangered;
      position : relative;
      left:50px;
      top: 100px;
    }
    .wh{
      position : relative;
      left:40px ;
      top: 100px;
    }
    .wu1{
      position : relative;
      left:40px;
      top: 100px;
    }
    .wh1{
      position : relative;
      left:30px;
      top: 90px;
    }
    .wh2{
      position : relative;
      left:50px;
      top: 90px;
    }
    
    #ds{
      width:400px;
      height: 400px;
    }
   
    .ki{
      background-repeat: no-repeat;
      background: linear-gradient(rgba(7, 17, 63, 0.8), rgba(8, 4, 65, 0.8)), url('https://www.angvo.com/public/angvo/assets/images/working-line.png') no-repeat;
      width: 100%;
      height: 1000px;
    }
      .bo1{
        border: 3px dotted white;
        border-radius: 60px;
        width: 120px;
        height: 120px;
        padding: 35px 35px;
      }
      .bo2{
        border: 3px dotted white;
        border-radius: 60px;
        width: 120px;
        height: 120px;
        padding: 35px 35px;
      }
      .bo3{
        border: 3px dotted white;
        border-radius: 60px;
        width: 120px;
        height: 120px;
        padding: 35px 35px;
      }
      .jo{
        position: relative;
        left: -30px;
        top: 0px;
    }
    .bo6{
      border: 3px dotted white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      position: relative;
      left: 795px;
      top: -280px;
    }
    #dsp{
     position:relative;
     left: 751px;
     top: -250px;
    }
  
    .kol{
      position: relative;
      left:245px;
      top: 200px;
      width: 300px;
     }
     .kil{
      width: 500px;
      height: 500px;
      position: relative;
      top: 260px;
      left: -1px;
     }
    
     .mki{
      position: relative;
      left: 80px;
     }
    
     #fp:hover{
      background-color: orangered;
      transition-timing-function: ease-in-out;
      transition-duration: 1s;
      color: white;
     }
     #fp{
      background-color: blue;
      color: white;
     }
     .fg1{
      width: 250px;
     }
     
   .kip{
    z-index: -1;
  
    position: relative;
    left: 286px;
    top: 233px;
   }
  
   .kip1{
    z-index: -1;
  
    position: relative;
    left: 71px;
    top: 49px;
   }
  
   .kip2{
    z-index: -1;
    position: relative;
    left: 16px;
    top: 52px;
   }
  
   .kip3{
    z-index: -1;
    position: relative;
    left: 30px;
    top: 47px;
   }
  
   .p1w{
    position: relative;
    top: 514px;
    left: 139px;
    width : 291px ;
    height: 396px;
   }
   .p2w{
    position: relative;
    top: 120px;
    left: 14px;
    width : 291px ;
     height: 396px;
   }
   .p3w{
    position: relative;
    top: 120px;
    left: 26px;
    width : 291px ;
     height: 396px;
   }
   .plo{
    position: relative;
    top: 120px;
    left: 77px;
   }
   .lo1{
    position: relative;
    left: 5px;
    top: 140px;
    font-weight: lighter;
    font-size:medium
   }
   .lo2{
    position: relative;
    left: 95px;
    top: 140px;
    font-weight: bolder;
    font-size: large;
   }
  
   .lo3{
    border: 2px solid orangered;
    position: relative;
    width: 60px;
    height: 60px;
    padding: 15px 12px;
    border-radius: 40px;
    left: 113px;
    top: 142px;
    background-color: orangered;
    color: white;
   }
  
   #jk{
    position: relative;
    top: 252px;
    width: 100%;
    background-color: #101e3b; 
    height: 1200px;

  }
  
  .kl{
    position: relative;
    left: 430px;
    top: 100px;
  }
  .hi{
    position:relative;
    width: 200px;
    height: 100px;
    left: 140px;
    top: 200px;
  }
  
  .hi2{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    left: 140px;
    top: 350px;
    border-radius: 10px;
    padding: 5px 5px;
  
  }
  .hi3{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    border-radius: 10px;
    left: 190px;
    top: 315px;
    padding: 5px 5px;
  }
  .hi4{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    border-radius: 10px;
    left: 240px;
    top: 278px;
    padding: 5px 5px;
  }
  
  .hi2:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  }
  
  .hi3:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  }
  
  .hi4:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  
  }
  
  .hi5{
    display: inline-block;
    color: white;
    position: relative;
    left: 420px;
    top: -20px;
  
  }
  
  .hi6{
    display: inline-block;
    color:gray;
    position: relative;
    left: 320px;
    top:20px;
  
  }
  .hi6:hover{
  
    color: orangered;
  }
  .hi7{
    display: inline-block;
  
    color:gray;
    position: relative;
    left: 255px;
    top: 50px;
  }
  .hi7:hover{
  
    color: orangered;
  }
  .hi8{
    display: inline-block;
  
    color:gray;
    position: relative;
    left: 180px;
    top: 80px;
  }
  .hi8:hover{
  
    color: orangered;
  }
  .hi9{
    display: inline-block;
    color:gray;
    position: relative;
    left: 80px;
    top: 110px;
  }
  .hi9:hover{
  
    color: orangered;
  }
  .hi10{
  color: white;
  font-size: x-large;
  position: relative;
  left: 700px;
  top: -115px;
  width: 300px;
  }
  
  
  .hi13{
    display: inline-block;
  }
  
  .hi11{
    color: grey;
    position: relative;
    left: 650px;
    top: -100px;
   }
  
  .hi12{
  
     width: 300px;
     position: relative;
     left: 670px;
     top: -80px;
  }
  
  .hi14{
  
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 23px 25px;
    color: white;
    border-radius: 40px;
    position: relative;
    left: -90px;
    top: 80px;
    
  }
  
  .hi15{
  
   color: white;
   font-size: larger;
  }
  
  .hi16{
  
    color: grey;
    width: 150px;
  }
  
  .hi17:hover .hi14{
  
  background-color: #f35f20; 
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  
  .hi17{
    display: inline-block;
    position: relative;
    left: -270px;
    top: 300px;
  }
  .hi18{
    display: inline-block;
  
    position: relative;
    left: -80px;
    top: 280px;
  }
  
  .hi18:hover .hi19{
  
    display: inline-block;
   background-color: #f35f20;
   transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  .hi19{
  
    display: inline-block;
    color: white;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 20px 23px;
    border-radius: 40px;
    position: relative;
    left: -150px;
    top: 19 px;
  
  }
  
  .hi20{
    display: inline-block;
  
    color: white;
    position: relative;
    top: -0px;
    left: -120px;
    font-size: larger;
  }
  .hi21{
    color: grey;
    position: relative;
    top: -20px;
    left: -50px;
  }
  
  .hi22{
   display: inline-block;
   
  }
  .hi22:hover .hi23{
    display: inline-block;
    background-color: #f35f20;
    transition-duration: 1s;
  transition-timing-function: ease-in-out;
   }
  .hi23{
    display: inline-block;
    color: white;
    position: relative;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 25px 25px;
    border-radius: 40px;
    top: 255px;
    left: -100px;
  }
  .hi24{
    display: inline-block;
    color: white;
    font-size: larger;
    position: relative;
    top: 230px;
    left: -80px;
  }
  .hi25{
    display: inline-block;
    color: grey;
    position: relative;
    top: 260px;
    left: -180px;
  }
  .hi26{
    display: inline-block;
  }
  .hi26:hover .hi27{
    display: inline-block;
    background-color: #f35f20;
    transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  .hi27{
    display: inline-block;
    color: white;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 20px 23px;
    border-radius: 40px;
    position: relative;
    top: 185px;
    left: 800px;
  }
  .hi28{
    display: inline-block;
    color: white;
    position: relative;
    top: 160px;
    left: 810px;
  }
  .hi29{
  
    display: inline-block;
    color: gray;
    position: relative;
    left: 700px;
    top: 210px;
    width: 100px;
  }
  #sww{
  
    color: white;
    position:relative;
    top: 300px;
    width: 700px;
    left: 160px;
  }
  
  .gui{
  
    display: inline-block;
    color: grey;
    position: relative;
    left: 400px;
    top: 310px;
  }
  .fixe{
    position: fixed;
    bottom: 15px;
    right: 55px;
    width: 70px;
    height: 70px;
    background-color: #f35f20;
    padding: 20px 20px;
    z-index: 100;
    border-radius: 60px;
    color: white;
  }
  
  }
  
  
  @media screen and (max-width:768px) and (max-height:600px){
    .fq{
      background-color: orangered;
      width: 60px;
      height: 60px;
      padding: 15px 15px;
      border-radius: 30px;
      position:relative;
      left: 120px;
      top: 50px;
    }
    .wu{
      position : relative;
      left:120px;
      top: 100px;
    }
    .wl{
      color:orangered;
      position : relative;
      left:120px;
      top: 100px;
    }
    .wl1{
      color:orangered;
      position : relative;
      left:120px;
      top: 100px;
    }
    .wh{
      position : relative;
      left:70px ;
      top: 100px;
    }
    .wu1{
      position : relative;
      left:120px;
      top: 100px;
    }
    .wh1{
      position : relative;
      left:70px;
      top: 90px;
    }
    .wh2{
      position : relative;
      left:90px;
      top: 90px;
    }
    #ds{
      position: relative;
      left: 60px;
      width:400px;
      height: 400px;
    }
    .ki{
      background-repeat: no-repeat;
      background: linear-gradient(rgba(7, 17, 63, 0.8), rgba(8, 4, 65, 0.8)), url('https://www.angvo.com/public/angvo/assets/images/working-line.png') no-repeat;
      width: 100%;
      height: 1200px;
      
    }
    #ms{
      display: none;
    }
    .bo2{
      border: 3px dotted white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      margin-top: -148px;
    }
    .bo1{
      border: 3px dotted white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
    }
    .bo3{
      border: 3px dotted white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      position: relative;
      top:350px;
      left:-168px;
    }
    .bo4{
      position: relative;
      top:136px;
      left: 99px;
    }
  
    .bo6{
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      position: relative;
      left: 70px;
     top: -16px;
    }
    #dsp{
     position:relative;
     left: 425px;
     top: -89px;
     width: 200px;
    }
    .bo5{
      position: relative;
      left: -11px;
      top:-11px;
    }
    .kol{
      position: relative;
      left:209px;
      top: 297px;
      width: 350px;
     }
     .kil{
      width:561px;
      height: 500px;
      position: relative;
      top: 260px;
      left: 84px;
     }
    
     .mki{
      position: relative;
      left: 80px;
     }
    
     #fp:hover{
  
      background-color: orangered;
      transition-timing-function: ease-in-out;
      transition-duration: 1s;
      color: white;
     }
     #fp{
  
      background-color: blue;
      color: white;
     }
     .fg1{
  
      width: 250px;
     }
     
   .kip{
    width: 400px;
    position: relative;
    left: 160px;
    top: 318px;
   }
  
   .kip1{
    position: relative;
    left: 71px;
    top: 49px;
   }
  
   .kip2{
    position: relative;
    left: 16px;
    top: 52px;
   }
  
   .kip3{
    position: relative;
    left: 30px;
    top: 47px;
   }
  
   
   .p1w{
    display: none;
   }
   .p2w{
    position: relative;
    top: 650px;
    left: -40px;
    width : 300px ;
     height: 400px;
   }
   .p3w{
    position: relative;
    top: 249px;
    left: 34px;
    width : 300px ;
     height: 400px;
   }
   .plo{
    position: relative;
    top: 120px;
    left: 77px;
   }
   .lo1{
    position: relative;
    left: 5px;
    top: 140px;
    font-weight: lighter;
    font-size:medium
   }
   .lo2{
    position: relative;
    left: 95px;
    top: 186px;
    font-weight: bolder;
    font-size: large;
   }
  
   .lo3{
    border: 2px solid orangered;
    position: relative;
    width: 60px;
    height: 60px;
    padding: 15px 12px;
    border-radius: 40px;
    left: 113px;
    top: 185px;
    background-color: orangered;
    color: white;
   }
  
   #jk{
    position: relative;
    top: 252px;
        width: 100%;
    background-color: #101e3b; 
    height: 1300px;
  }
  
  .kl{
    position: relative;
    left: 270px;
    top: 100px;
  }
  .hi{
    position:relative;
    width: 200px;
    height: 100px;
    left: 140px;
    top: 200px;
  }
  
  .hi2{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    left: 140px;
    top: 350px;
    border-radius: 10px;
    padding: 5px 5px;
  
  }
  .hi3{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    border-radius: 10px;
    left: 190px;
    top: 315px;
    padding: 5px 5px;
  }
  .hi4{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    border-radius: 10px;
    left: 240px;
    top: 278px;
    padding: 5px 5px;
  }
  
  .hi2:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  }
  
  .hi3:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  }
  
  .hi4:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  
  }
  
  .hi5{
    display: inline-block;
    color: white;
    position: relative;
    left: 580px;
    top: -20px;
  
  }
  
  .hi6{
    display: inline-block;
    color:gray;
    position: relative;
    left: 480px;
    top:20px;
  
  }
  .hi6:hover{
  
    color: orangered;
  }
  .hi7{
    display: inline-block;
  
    color:gray;
    position: relative;
    left: 410px;
    top: 50px;
  }
  .hi7:hover{
  
    color: orangered;
  }
  .hi8{
    display: inline-block;
  
    color:gray;
    position: relative;
    left: 330px;
    top: 80px;
  }
  .hi8:hover{
  
    color: orangered;
  }
  .hi9{
    display: inline-block;
    color:gray;
    position: relative;
    left: 230px;
    top: 110px;
  }
  .hi9:hover{
  
    color: orangered;
  }
  .hi10{
  color: white;
  font-size: x-large;
  position: relative;
  left: 140px;
  top: 180px;
  width: 300px;
  }
  
  
  .hi13{
    display: inline-block;
  }
  
  .hi11{
    color: grey;
    position: relative;
    left: 50px;
    top: 200px;
   }
  
  .hi12{
  
     width: 300px;
     position: relative;
     left: 70px;
     top: 220px;
  }
  
  .hi14{
  
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 23px 25px;
    color: white;
    border-radius: 40px;
    position: relative;
    left: -40px;
    top: 140px;
    
  }
  
  .hi15{
   color: white;
   font-size: larger;
   position: relative;
   top: 70px;
   left: 50px;
  }
  
  .hi16{
  
    color: grey;
    width: 150px;
    position: relative;
    top: 70px;
    left: 40px;
  }
  
  .hi17:hover .hi14{
  
  background-color: #f35f20; 
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  
  .hi17{
    display: inline-block;
    position: relative;
    left: -270px;
    top: 300px;
  }
  .hi18{
    display: inline-block;
  
    position: relative;
    left: -80px;
    top: 280px;
  }
  
  .hi18:hover .hi19{
  
    display: inline-block;
   background-color: #f35f20;
   transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  .hi19{
  
    display: inline-block;
    color: white;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 20px 23px;
    border-radius: 40px;
    position: relative;
    left: 30px;
    top: 80px;
  }
  
  .hi20{
    display: inline-block;
  
    color: white;
    position: relative;
    top: 60px;
    left: 50px;
    font-size: larger;
  }
  .hi21{
    color: grey;
    position: relative;
    top: 40px;
    left: 120px;
  }
  
  .hi22{
   display: inline-block;
   
  }
  .hi22:hover .hi23{
    display: inline-block;
    background-color: #f35f20;
    transition-duration: 1s;
  transition-timing-function: ease-in-out;
   }
  .hi23{
    display: inline-block;
    color: white;
    position: relative;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 25px 25px;
    border-radius: 40px;
    top: 380px;
    left: 50px;
  }
  .hi24{
    display: inline-block;
    color: white;
    font-size: larger;
    position: relative;
    top: 360px;
    left: 60px;
  }
  .hi25{
    display: inline-block;
    color: grey;
    position: relative;
    top: 390px;
    left: -40px;
  }
  .hi26{
    display: inline-block;
  }
  .hi26:hover .hi27{
    display: inline-block;
    background-color: #f35f20;
    transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  .hi27{
    display: inline-block;
    color: white;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 20px 23px;
    border-radius: 40px;
    position: relative;
    top: 370px;
    left: 165px;
  }
  .hi28{
    display: inline-block;
    color: white;
    position: relative;
    top: 360px;
    left: 180px;
  }
  .hi29{
  
    display: inline-block;
    color: gray;
    position: relative;
    left: 80px;
    top: 410px;
    width: 100px;
  }
  #sww{
  
    color: white;
    position:relative;
    top: 400px;
    width: 300px;
    left: 200px;
  }
  
  .gui{
  
    display: inline-block;
    color: grey;
    position: relative;
    left: 170px;
    top: 410px;
  }
  .fixe{
    position: fixed;
    bottom: 15px;
    right: 55px;
    width: 70px;
    height: 70px;
    background-color: #f35f20;
    padding: 20px 20px;
    z-index: 100;
    border-radius: 60px;
    color: white;
  }
  
  }
  @media screen and (max-width:426px){
    .fq{
      background-color: orangered;
      width: 60px;
      height: 60px;
      padding: 15px 15px;
      border-radius: 30px;
      position:relative;
      left: 120px;
      top: 50px;
    }
    .wu{
      position : relative;
      left:120px;
      top: 100px;
    }
    .wl{
      color: orangered;
      position : relative;
      left:120px;
      top: 100px;
    }
    .wh{
      position : relative;
      left:70px ;
      top: 100px;
    }
    .wu1{
      position : relative;
      left:100px;
      top: 100px;
    }
    .wh1{
      position : relative;
      left:70px;
      top: 90px;
    }
    .wh2{
      position : relative;
      left:90px;
      top: 90px;
    }
    #ds{
      width:300px;
      height: 400px;
    }
    .ki{
      background-repeat: no-repeat;
      background: linear-gradient(rgba(7, 17, 63, 0.8), rgba(8, 4, 65, 0.8)), url('https://www.angvo.com/public/angvo/assets/images/working-line.png') no-repeat;
      width: 100%;
      height: 1600px;
      
    }
    .bo2{
      border: 3px dotted white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      margin-top: -0px;
    }
  
    .bo1{
      border: 3px dotted  white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      margin-left: 100px;
      position: relative;
      left: -62px;
    }
  
    .bo3{
      border: 3px dotted  white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      position: relative;
      left: -2px;
      top: 456px;
    }
    .bo5{
     
  
      margin-top: -124px;
      margin-left: 41px;
      width: 300px;
    }
  
    .bo4{
  
      position: relative;
      left: 30px;
      top:314px;
      width: 300px;
    }
    
    .bo6{
      border: 3px dotted  white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      position: relative;
      left: -1px;
     top: 323px;
    }
    #dsp{
      
     position:relative;
     left: 85px;
     top: 328px;
     width: 304px;
    }
    
    .kol{
      position: relative;
      left:52px;
      top: 297px;
      width: 350px;
     }
     .kil{
  
      width:382px;
      height: 500px;
      position: relative;
      top: 260px;
      left: 16px;
     }
    
     .mki{
  
      position: relative;
      left: 80px;
     }
    
     #fp:hover{
  
      background-color: orangered;
      transition-timing-function: ease-in-out;
      transition-duration: 1s;
      color: white;
     }
     #fp{
      background-color: blue;
      color: white;
     }
     .fg1{
      width: 250px;
     }
  
     
   .kip{
    width: 343px;
    position: relative;
    left: 22px;
    top: 290px;
   }
  
   .kip1{
    position: relative;
    left: 71px;
    top: 49px;
   }
  
   .kip2{
    position: relative;
    left: 32px;
    top: 52px;
   }
  
   .kip3{
    position: relative;
    left: 30px;
    top: 47px;
   }
   
   .p1w{
    display: none;
   }
   .p2w{
    display:none;
   }
   .p3w{
    position: relative;
    top: 399px;
    left: 43px;
    width : 300px ;
     height: 400px;
   }
   .plo{
    position: relative;
    top: 120px;
    left: 77px;
   }
   .lo1{
    position: relative;
    left: 5px;
    top: 140px;
    font-weight: lighter;
    font-size:medium
   }
   .lo2{
    position: relative;
    left: 95px;
    top: 186px;
    font-weight: bolder;
    font-size: large;
   }
  
   .lo3{
    border: 2px solid orangered;
    position: relative;
    width: 60px;
    height: 60px;
    padding: 15px 12px;
    border-radius: 40px;
    left: 113px;
    top: 185px;
    background-color: orangered;
    color: white;
   }
  
   #jk{
    position: relative;
    top: 252px;
        width: 100%;
    background-color: #101e3b; 
    height: 2000px;
  }
  
  .kl{
    position: relative;
    left: 80px;
    top: 100px;
  }
  .hi{
    position:relative;
    width: 200px;
    height: 100px;
    left: 140px;
    top: 200px;
  }
  
  .hi2{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    left: 140px;
    top: 350px;
    border-radius: 10px;
    padding: 5px 5px;
  
  }
  .hi3{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    border-radius: 10px;
    left: 190px;
    top: 315px;
    padding: 5px 5px;
  }
  .hi4{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    border-radius: 10px;
    left: 240px;
    top: 278px;
    padding: 5px 5px;
  }
  
  .hi2:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  }
  
  .hi3:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  }
  
  .hi4:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  
  }
  
  .hi5{
    display: inline-block;
    color: white;
    position: relative;
    left: 150px;
    top: 300px;
  }
  
  .hi6{
    display: inline-block;
    color:gray;
    position: relative;
    left: 60px;
    top:330px;
  
  }
  .hi6:hover{
  
    color: orangered;
  }
  .hi7{
    display: inline-block;
  
    color:gray;
    position: relative;
    left: -05px;
    top: 350px;
  }
  .hi7:hover{
  
    color: orangered;
  }
  .hi8{
    display: inline-block;
  
    color:gray;
    position: relative;
    left: -80px;
    top: 370px;
  }
  .hi8:hover{
  
    color: orangered;
  }
  .hi9{
    display: inline-block;
    color:gray;
    position: relative;
    left: 140px;
    top: 360px;
  }
  .hi9:hover{
  
    color: orangered;
  }
  .hi10{
  color: white;
  font-size: x-large;
  position: relative;
  left: 140px;
  top: 340px;
  width: 270px;
  
  }
  
  
  .hi13{
    display: inline-block;
    position:relative;
    top: 100px;
  
  }
  
  .hi11{
    color: grey;
    position: relative;
    left: 50px;
    top: 350px;
  
   }
  
  .hi12{
  
     width: 300px;
     position: relative;
     left: 70px;
     top: 370px;
  
  }
  
  .hi14{
  
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 23px 25px;
    color: white;
    border-radius: 40px;
    position: relative;
    left: 430px;
    top: 240px;
  
  }
  
  .hi15{
   color: white;
   font-size: larger;
   position: relative;
   top: 240px;
   left: 435px;
  
  }
  
  .hi16{
    color: grey;
    width: 150px;
    position: relative;
    top: 240px;
    left: 400px;
  
  }
  
  .hi17:hover .hi14{
  
  background-color: #f35f20; 
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  
  .hi17{
    display: inline-block;
    position: relative;
    left: -270px;
    top: 300px;
  
  }
  .hi18{
    display: inline-block;
  
    position: relative;
    left: -80px;
    top: 280px;
  
  }
  
  .hi18:hover .hi19{
  
    display: inline-block;
   background-color: #f35f20;
   transition-duration: 1s;
  transition-timing-function: ease-in-out;
  
  }
  .hi19{
  
    display: inline-block;
    color: white;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 20px 23px;
    border-radius: 40px;
    position: relative;
    left: 90px;
    top: 350px;
  
  }
  
  .hi20{
    display: inline-block;
  
    color: white;
    position: relative;
    top: 410px;
    left: 15px;
    font-size: larger;
  
  }
  .hi21{
    color: grey;
    position: relative;
    top: 390px;
    left: 70px;
  
  }
  
  .hi22{
   display: inline-block;
  
  }
  .hi22:hover .hi23{
    display: inline-block;
    background-color: #f35f20;
    transition-duration: 1s;
  transition-timing-function: ease-in-out;
   }
  .hi23{
    display: inline-block;
    color: white;
    position: relative;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 25px 25px;
    border-radius: 40px;
    top: 700px;
    left: 170px;
  
  }
  
  .hi24{
    display: inline-block;
    color: white;
    font-size: larger;
    position: relative;
    top: 760px;
    left: 90px;
  
  }
  .hi25{
    display: inline-block;
    color: grey;
    position: relative;
    top: 790px;
    left: -20px;
  
  }
  .hi26{
    display: inline-block;
  
  }
  .hi26:hover .hi27{
    display: inline-block;
    background-color: #f35f20;
    transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  .hi27{
    display: inline-block;
    color: white;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 20px 23px;
    border-radius: 40px;
    position: relative;
    top: 770px;
    left: 175px;
  
  }
  .hi28{
    display: inline-block;
    color: white;
    position: relative;
    top: 830px;
    left: 90px;
  
  }
  .hi29{
  
    display: inline-block;
    color: gray;
    position: relative;
    left: -05px;
    top: 890px;
    width: 100px;
  
  }
  #sww{
  
    color: white;
    position:relative;
    top: 900px;
    width: 140px;
    left: 150px;
  
  }
  
  .gui{
  
    display: inline-block;
    color: grey;
    position: relative;
    left: 70px;
    top: 910px;
  
  }
  .fixe{
    position: fixed;
    bottom: 15px;
    right: 55px;
    width: 70px;
    height: 70px;
    background-color: #f35f20;
    padding: 20px 20px;
    z-index: 100;
    border-radius: 60px;
    color: white;
  }
  
  }
  @media screen and (max-width:376px){
    .fq{
      background-color: orangered;
      width: 60px;
      height: 60px;
      padding: 15px 15px;
      border-radius: 30px;
      position:relative;
      left: 120px;
      top: 50px;
    }
    .wu{
      position : relative;
      left:120px;
      top: 100px;
    }
    .wl{
      color: orangered;
      position : relative;
      left:120px;
      top: 100px;
    }
    .wh{
      position : relative;
      left:70px ;
      top: 100px;
    }
    .wu1{
      position : relative;
      left:100px;
      top: 100px;
    }
    .wh1{
      position : relative;
      left:70px;
      top: 90px;
    }
    .wh2{
      position : relative;
      left:90px;
      top: 90px;
    }
    #ds{
     
      width:270px;
      height: 400px;
    }
    .ki{
      background-repeat: no-repeat;
      background: linear-gradient(rgba(7, 17, 63, 0.8), rgba(8, 4, 65, 0.8)), url('https://www.angvo.com/public/angvo/assets/images/working-line.png') no-repeat;
      width: 100%;
      height: 1600px;
      
    }
    .bo2{
      border: 3px dotted   white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      margin-top: -0px;
    }
  
    .bo1{
      border: 3px dotted   white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      margin-left: 100px;
      position: relative;
      left: -62px;
    }
  
    .bo3{
      border: 3px dotted    white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      position: relative;
      left: -2px;
      top: 456px;
    }
    .bo5{
     
      margin-top: -124px;
      margin-left: 41px;
      width: 300px;
    }
  
    .bo4{
      position: relative;
      left: 30px;
      top:314px;
      width: 274px;
    }
    
    .bo6{
      border: 3px dotted   white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      position: relative;
      left: -1px;
     top: 323px;
    }
    #dsp{
     position:relative;
     left: 71px;
     top: 328px;
     width: 263px;
    }
    .kol{
  
      position: relative;
      left:17px;
      top: 297px;
      width: 350px;
     }
     .kil{
  
      width:354px;
      height: 500px;
      position: relative;
      top: 260px;
      left: -3px;
     }
    
     .mki{
  
      position: relative;
      left: 80px;
     }
    
     #fp:hover{
  
      background-color: orangered;
      transition-timing-function: ease-in-out;
      transition-duration: 1s;
      color: white;
     }
     #fp{
  
      background-color: blue;
      color: white;
     }
     .fg1{
      width: 250px;
     }
     
   .kip{
    width: -95px;
    position: relative;
    left: 7px;
    top: 273px;
   }
  
   .kip1{
    position: relative;
    left: 71px;
    top: 49px;
   }
  
   .kip2{
    position: relative;
    left: 30px;
    top: 52px;
   }
  
   .kip3{
    position: relative;
    left: 30px;
    top: 47px;
   }
   
   .p1w{
    display: none;
   }
   .p2w{
    display:none;
   }
   .p3w{
    position: relative;
    top: 399px;
    left: 43px;
    width : 254px ;
     height: 455px;
   }
   .plo{
    position: relative;
    top: 120px;
    left: 54px;
   }
   .lo1{
    position: relative;
    left: 5px;
    top: 140px;
    font-weight: lighter;
    font-size:medium
   }
   .lo2{
    position: relative;
    left: 66px;
    top: 186px;
    font-weight: bolder;
    font-size: large;
   }
  
   .lo3{
    border: 2px solid orangered;
    position: relative;
    width: 60px;
    height: 60px;
    padding: 15px 12px;
    border-radius: 40px;
    left: 83px;
    top: 185px;
    background-color: orangered;
    color: white;
   }
  
   #jk{
    position: relative;
    top: 252px;    width: 100%;
    background-color: #101e3b; 
    height: 2000px;
  
  }
  
  .kl{
    position: relative;
    left: 45px;
    top: 100px;
  
  }
  .hi{
    position:relative;
    width: 200px;
    height: 100px;
    left: 60px;
    top: 200px;
  
  }
  
  .hi2{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    left: 70px;
    top: 350px;
    border-radius: 10px;
    padding: 5px 5px;
  
  }
  .hi3{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    border-radius: 10px;
    left: 120px;
    top: 315px;
    padding: 5px 5px;
  
  }
  .hi4{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    border-radius: 10px;
    left: 170px;
    top: 278px;
    padding: 5px 5px;
  
  }
  
  .hi2:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  }
  
  .hi3:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  }
  
  .hi4:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  
  }
  
  .hi5{
    display: inline-block;
    color: white;
    position: relative;
    left: 90px;
    top: 300px;
  
  }
  
  .hi6{
    display: inline-block;
    color:gray;
    position: relative;
    left: 0px;
    top:330px;
  
  }
  .hi6:hover{
  
    color: orangered;
  }
  .hi7{
    display: inline-block;
  
    color:gray;
    position: relative;
    left: -65px;
    top: 350px;
  }
  .hi7:hover{
  
    color: orangered;
  }
  .hi8{
    display: inline-block;
  
    color:gray;
    position: relative;
    left: -140px;
    top: 364px;
  }
  .hi8:hover{
  
    color: orangered;
  }
  .hi9{
    display: inline-block;
    color:gray;
    position: relative;
    left: 90px;
    top: 360px;
  }
  .hi9:hover{
  
    color: orangered;
  }
  .hi10{
  color: white;
  font-size: x-large;
  position: relative;
  left: 80px;
  top: 340px;
  width: 200px;
  }
  
  
  .hi13{
    display: inline-block;
    position:relative;
    top: 100px;
  
  }
  
  .hi11{
    color: grey;
    position: relative;
    left: 50px;
    top: 350px;
    width: 200px;
   }
  
  .hi12{
  
     width: 200px;
     position: relative;
     left: 50px;
     top: 370px;
  
  }
  
  .hi14{
  
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 23px 25px;
    color: white;
    border-radius: 40px;
    position: relative;
    left: 370px;
    top: 240px;
  
  }
  
  .hi15{
   color: white;
   font-size: larger;
   position: relative;
   top: 240px;
   left: 370px;
  
  }
  
  .hi16{
    color: grey;
    width: 150px;
    position: relative;
    top: 240px;
    left: 340px;
  
  }
  
  .hi17:hover .hi14{
  
  background-color: #f35f20; 
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  
  .hi17{
    display: inline-block;
    position: relative;
    left: -270px;
    top: 300px;
  
  }
  .hi18{
    display: inline-block;
  
    position: relative;
    left: -80px;
    top: 280px;
  
  }
  
  .hi18:hover .hi19{
  
    display: inline-block;
   background-color: #f35f20;
   transition-duration: 1s;
  transition-timing-function: ease-in-out;
  
  }
  .hi19{
  
    display: inline-block;
    color: white;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 20px 23px;
    border-radius: 40px;
    position: relative;
    left: 35px;
    top: 350px;
  
  }
  
  .hi20{
    display: inline-block;
  
    color: white;
    position: relative;
    top: 410px;
    left: -40px;
    font-size: larger;
  
  }
  .hi21{
    color: grey;
    position: relative;
    top: 390px;
    left: 0px;
  
  }
  
  .hi22{
   display: inline-block;
  
  }
  .hi22:hover .hi23{
    display: inline-block;
    background-color: #f35f20;
    transition-duration: 1s;
  transition-timing-function: ease-in-out;
   }
  .hi23{
    display: inline-block;
    color: white;
    position: relative;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 25px 25px;
    border-radius: 40px;
    top: 700px;
    left: 110px;
  
  }
  
  .hi24{
    display: inline-block;
    color: white;
    font-size: larger;
    position: relative;
    top: 760px;
    left: 30px;
  
  }
  .hi25{
    display: inline-block;
    color: grey;
    position: relative;
    top: 790px;
    left: -80px;
  
  }
  .hi26{
    display: inline-block;
  
  }
  .hi26:hover .hi27{
    display: inline-block;
    background-color: #f35f20;
    transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  .hi27{
    display: inline-block;
    color: white;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 20px 23px;
    border-radius: 40px;
    position: relative;
    top: 770px;
    left: 110px;
  
  }
  .hi28{
    display: inline-block;
    color: white;
    position: relative;
    top: 830px;
    left: 30px;
  
  }
  .hi29{
  
    display: inline-block;
    color: gray;
    position: relative;
    left: -75px;
    top: 890px;
    width: 100px;
  
  }
  #sww{
  
    color: white;
    position:relative;
    top: 900px;
    width: 70px;
    left: 115px;
  
  }
  
  .gui{
  
    display: inline-block;
    color: grey;
    position: relative;
    left: 10px;
    top: 910px;
  
  }
  .fixe{
    position: fixed;
    bottom: 15px;
    right: 35px;
    width: 70px;
    height: 70px;
    background-color: #f35f20;
    padding: 20px 20px;
    z-index: 100;
    border-radius: 60px;
    color: white;
  }
  
  }
  @media screen and (max-width:321px){
    .fq{
      background-color: orangered;
      width: 60px;
      height: 60px;
      padding: 15px 15px;
      border-radius: 30px;
      position:relative;
      left: 100px;
      top: 50px;
    }
    .wu{
      position : relative;
      left:120px;
      top: 100px;
    }
    .wl{
      color: orangered;
      position : relative;
      left:100px;
      top: 100px;
    }
    .wh{
      position : relative;
      left:40px ;
      top: 100px;
    }
    .wu1{
      position : relative;
      left:100px;
      top: 100px;
    }
    .wh1{
      position : relative;
      left:70px;
      top: 90px;
    }
    .wh2{
      position : relative;
      left:90px;
      top: 90px;
    }
    #ds{
      width:200px;
      height: 400px;
    }
    .ki{
      background-repeat: no-repeat;
      background: linear-gradient(rgba(7, 17, 63, 0.8), rgba(8, 4, 65, 0.8)), url('https://www.angvo.com/public/angvo/assets/images/working-line.png') no-repeat;
      width: 100%;
      height: 1600px;
      
    }
    .bo2{
      border: 3px dotted   white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      margin-top: -0px;
    }
  
    .bo1{
      border: 3px dotted   white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      margin-left: 100px;
      position: relative;
      left: -62px;
    }
  
    .bo3{
      border: 3px dotted   white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      position: relative;
      left: -2px;
      top: 487px;
    }
    .bo5{
      margin-top: -124px;
      margin-left: 41px;
      width: 284px;
    }
  
    .bo4{
      position: relative;
      left: 30px;
      top:314px;
      width:234px;
    }
    
    .bo6{
      border: 3px dotted white;
      border-radius: 60px;
      width: 120px;
      height: 120px;
      padding: 35px 35px;
      position: relative;
      left: -1px;
     top: 323px;
    }
    #dsp{
     position:relative;
     left: 71px;
     top: 328px;
     width: 246px;
    }
    
    .kol{
  
      position: relative;
      left:17px;
      top: 297px;
      width: 284px;
     }
     .kil{
  
      width:298px;
      height: 500px;
      position: relative;
      top: 260px;
      left: -3px;
     }
    
     .mki{
  
      position: relative;
      left: 1px;
     }
    
     #fp:hover{
  
      background-color: orangered;
      transition-timing-function: ease-in-out;
      transition-duration: 1s;
      color: white;
     }
     #fp{
  
      background-color: blue;
      color: white;
     }
     .fg1{
  
      width: 250px;
     }
     #wq{
  
      font-family: 'Rubik', sans-serif;
      position:relative;
      left:6px;
     }
     
   .kip{
    position: relative;
    left: -32px;
    top: 290px;
   }
  
   .kip1{
    position: relative;
    left: 71px;
    top: 49px;
   }
  
   .kip2{
    position: relative;
    left: 39px;
    top: 52px;
   }
  
   .kip3{
    position: relative;
    left: 30px;
    top: 47px;
   }
  
   .p1w{
    display: none;
   }
   .p2w{
    display:none;
   }
   .p3w{
    position: relative;
    top: 399px;
    left: 43px;
    width : 254px ;
     height: 455px;
   }
   .plo{
    position: relative;
    top: 120px;
    left: 11px;
   }
   .lo1{
    position: relative;
    left: 5px;
    top: 140px;
    font-weight: lighter;
    font-size:medium
   }
   .lo2{
    position: relative;
    left: 11px;
    top: 170px;
    font-weight: bolder;
    font-size: large;
   }
  
   .lo3{
    border: 2px solid orangered;
    position: relative;
    width: 60px;
    height: 60px;
    padding: 15px 12px;
    border-radius: 40px;
    left: 83px;
    top: 185px;
    background-color: orangered;
    color: white;
   }
  
   #jk{
    position: relative;
    top: 252px;    width: 100%;
    background-color: #101e3b; 
    height: 2000px;
  
  }
  
  .kl{
    position: relative;
    left: 45px;
    top: 100px;
  
  }
  .hi{
    position:relative;
    width: 200px;
    height: 100px;
    left: 60px;
    top: 200px;
  
  }
  
  .hi2{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    left: 70px;
    top: 350px;
    border-radius: 10px;
    padding: 5px 5px;
  
  }
  .hi3{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    border-radius: 10px;
    left: 120px;
    top: 315px;
    padding: 5px 5px;
  
  }
  .hi4{
    border: 2px solid #273c75;
    background-color: #273c75;
    width: 30px;
    position: relative;
    border-radius: 10px;
    left: 170px;
    top: 278px;
    padding: 5px 5px;
  
  }
  
  .hi2:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  }
  
  .hi3:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  }
  
  .hi4:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    background-color: orangered;
    color: white;
  
  }
  
  .hi5{
    display: inline-block;
    color: white;
    position: relative;
    left: 90px;
    top: 300px;
  
  }
  
  .hi6{
    display: inline-block;
    color:gray;
    position: relative;
    left: 0px;
    top:330px;
  
  }
  .hi6:hover{
  
    color: orangered;
  }
  .hi7{
    display: inline-block;
  
    color:gray;
    position: relative;
    left: -65px;
    top: 350px;
  }
  .hi7:hover{
  
    color: orangered;
  }
  .hi8{
    display: inline-block;
  
    color:gray;
    position: relative;
    left: -140px;
    top: 360px;
  }
  .hi8:hover{
  
    color: orangered;
  }
  .hi9{
    display: inline-block;
    color:gray;
    position: relative;
    left: 10px;
    top: 347px;
  }
  .hi9:hover{
  
    color: orangered;
  }
  .hi10{
  color: white;
  font-size: x-large;
  position: relative;
  left: 80px;
  top: 340px;
  width: 200px;
  }
  
  
  .hi13{
    display: inline-block;
    position:relative;
    top: 100px;
  
  }
  
  .hi11{
    color: grey;
    position: relative;
    left: 50px;
    top: 350px;
    width: 200px;
   }
  
  .hi12{
  
     width: 200px;
     position: relative;
     left: 50px;
     top: 370px;
  
  }
  
  .hi14{
  
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 23px 25px;
    color: white;
    border-radius: 40px;
    position: relative;
    left: 370px;
    top: 240px;
  
  }
  
  .hi15{
   color: white;
   font-size: larger;
   position: relative;
   top: 240px;
   left: 370px;
  
  }
  
  .hi16{
    color: grey;
    width: 150px;
    position: relative;
    top: 240px;
    left: 340px;
  
  }
  
  .hi17:hover .hi14{
  
  background-color: #f35f20; 
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  
  .hi17{
    display: inline-block;
    position: relative;
    left: -270px;
    top: 300px;
  
  }
  .hi18{
    display: inline-block;
  
    position: relative;
    left: -80px;
    top: 280px;
  
  }
  
  .hi18:hover .hi19{
  
    display: inline-block;
   background-color: #f35f20;
   transition-duration: 1s;
  transition-timing-function: ease-in-out;
  
  }
  .hi19{
  
    display: inline-block;
    color: white;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 20px 23px;
    border-radius: 40px;
    position: relative;
    left: 190px;
    top: 350px;
  
  }
  
  .hi20{
    display: inline-block;
  
    color: white;
    position: relative;
    top: 410px;
    left: 110px;
    font-size: larger;
  
  }
  .hi21{
    color: grey;
    position: relative;
    top: 390px;
    left: 160px;
  
  }
  
  .hi22{
   display: inline-block;
  
  }
  .hi22:hover .hi23{
    display: inline-block;
    background-color: #f35f20;
    transition-duration: 1s;
  transition-timing-function: ease-in-out;
   }
  .hi23{
    display: inline-block;
    color: white;
    position: relative;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 25px 25px;
    border-radius: 40px;
    top: 700px;
    left: 110px;
  
  }
  
  .hi24{
    display: inline-block;
    color: white;
    font-size: larger;
    position: relative;
    top: 760px;
    left: 30px;
  
  }
  .hi25{
    display: inline-block;
    color: grey;
    position: relative;
    top: 790px;
    left: -80px;
  
  }
  .hi26{
    display: inline-block;
  
  }
  .hi26:hover .hi27{
    display: inline-block;
    background-color: #f35f20;
    transition-duration: 1s;
  transition-timing-function: ease-in-out;
  }
  .hi27{
    display: inline-block;
    color: white;
    border: 2px solid darkblue;
    width: 70px;
    height: 70px;
    padding: 20px 23px;
    border-radius: 40px;
    position: relative;
    top: 770px;
    left: 110px;
  
  }
  .hi28{
    display: inline-block;
    color: white;
    position: relative;
    top: 830px;
    left: 30px;
  
  }
  .hi29{
  
    display: inline-block;
    color: gray;
    position: relative;
    left: -75px;
    top: 890px;
    width: 100px;
  
  }
  #sww{
  
    color: white;
    position:relative;
    top: 900px;
    width: 70px;
    left: 115px;
  
  }
  
  .gui{
  
    display: inline-block;
    color: grey;
    position: relative;
    left: 10px;
    top: 910px;
  
  }
  .fixe{
    position: fixed;
    bottom: 15px;
    right: 35px;
    width: 70px;
    height: 70px;
    background-color: #f35f20;
    padding: 20px 20px;
    z-index: 100;
    border-radius: 60px;
    color: white;
  }
}